# Koneksi ke MySQL Laragon kamu
DATABASE_URL="mysql://root:@127.0.0.1:3306/lumpat_db"

# Port aplikasi
PORT=3069

# Secret key untuk login
JWT_SECRET="super_secret_key_bebas_123"

# Mode environment
NODE_ENV="development"
